html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url('https://ak9.picdn.net/shutterstock/videos/1007204479/thumb/1.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.App {
  /* border: 1px solid red; */
  text-align: center;
  background-color: darkslategrey;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
}

h1 {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  color: limegreen;
}

.App-header  h1 {
  /* border: 1px solid blue; */
  grid-column: 1 / span 2;
}